.products {
    height: 90%;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);


    //IMAGEN CON BOTÓN

    .pufi-image-with-button {
        
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        img{
            width: 100%;
            height: 100%;
        }

        button {

            color: white;
            border: white 0.15em solid;
            background-color: transparent;
            padding: 1.5em 2.5em;
            font-size: 20px;
            cursor: pointer;
            position: absolute;

        }
    }

    //OPACIDAD

    .pufi-image-with-button::before {
        background-color: rgba(0, 0, 0, 0.37);
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        width: 100%;

    }

    //IMAGEN SIN BOTON

    .pufi-image{

        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        img{
            width: 100%;
            height: 100%;
        }
    }

    //OPACIDAD

    .pufi-image::before {
        background-color: rgba(0, 0, 0, 0.37);
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        width: 100%;

    }

    //INFO DEL PRODUCTO


    .pufi-info {

        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            width: 25%;
        }

        h3 {
            text-align: center;
            font-size: 2em;
        }

        span {
            width: 2.5em;
            height: 0.1em;
            margin-bottom: 1em;
            border-radius: 50%;
            background-color: black;
        }

        p {
            font-size: larger;
            width: 15em;
            text-align: center;
            margin: 1em;
        }

        button {
            background-color: transparent;
            padding: 1.5em 2.5em;
            font-size: 20px;
            cursor: pointer;

        }

    }


}