.header { 
    object-fit: contain;
    //align-content: stretch;
    display: flex;
    //grid-template-columns: 1fr 1fr 1fr;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    background: linear-gradient(180deg, rgba(0,0,0,0.4051995798319328) 0%, rgba(0,212,255,0) 100%);

    div img{
        width: 2.5em;   
    }
}

.background {
    object-fit: cover;
    width: 100%;
    height: 56.2em;
    position: absolute;
    z-index: -1;
}


.logo {
    text-align: end;
    font-size: 29px;
    padding: 20px 20px 20px 20px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: white;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.075);
}

.menu {
    display: flex;
    text-align: center;
    padding: 20px 20px 20px 20px;
    justify-content: center;
    color: white;    
    text-decoration: none;
    overflow: hidden;
    list-style: none;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.075);
    font-family: 'M PLUS Rounded 1c', sans-serif;

    a, a:link, a:visited, a:active {
        color: white;
        right: 50px;
        text-decoration:none;
        padding: 20px 20px 20px 20px;
    }

    p:hover{
        size: 50px;
        color: rgb(0, 0, 0); 
    }

    span{
        height: 4em;
        width: 0.1em;
        border-radius: 10%;
        align-self: center;
        background-color: white;
    }

    a > p {
    margin-top: 5px;
    }

}

.porfile {
    width: 13em;
    display: flex;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 25px;
    color: white;
    padding: 20px 20px 20px 20px;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.075);

    h2{
        font-size: 0.7em;
        align-self: center;
    }

    span{
        height: 1em;
        width: 0.1em;
        border-radius: 10%;
        align-self: center;
        background-color: white;
        margin-left: 0.1em;
        margin-right: 0.5em;
    }

    p{
        width: 0.5em;
        margin: 0.5em;
        margin-bottom: 1.01em;
        transform: rotate(180deg);
    }
}

.center {
    height: 47em;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color: white;

    h2{
    font-size: 4em;
    }

    button {
    color: white;
    border: white 3px solid;
    background-color: transparent;
    padding: 1.5em 2.5em;
    font-size: 20px;
    cursor: pointer;
    }
}