.viewHome {
    height: 100vh;
    width: 100%;
    object-fit: contain;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.image {
    object-fit: cover;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
}

.logo {
    width: 10%;
    height: 10%;
    font-size: 29px;
    padding: 20px 20px 20px 20px;
}

.options {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: start;
    justify-items: center;
    padding: 20px 20px 20px 20px;
}

.options a {
    text-decoration: none;
    color: black;
}

.options a > img {
    width: 76%;
}

.options a > p {
    margin-top: 5px;
}

.picCaption {
    position: absolute;
    text-align: center;
    z-index: 999;
    max-height: 100%;
    overflow: hidden;
    bottom: 0;
    top: 0;
}

.count {
    font-size: 20px;
    padding: 20px 20px 20px 20px;
    margin-left: 50%;

}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: relative;
    margin-top: -500px;
}

.center > button {
    color: white;
    border: white 5px solid;
    box-shadow: 10px 10px rgba(0,0,0,05);
    margin-top: 200px;
    margin-bottom: 168px;
    background-color: transparent;
    padding: 30px;
    font-size: 20px;
    cursor: pointer;
}